<main>
  <h2>User info</h2>
    <div>
      <a class="fa-solid fa-user-gear" herf = "edit_user_path" ></a>
    </div>

  <h2>New book</h2>
  <%= form_with model: @book do |f| %>

  <div class = "label">
    <%= f.label :title %>
  </div>
  <%= f.text_field :title %>
  <div class = "label">
    <%= f.label :body %>
  </div>
  <%= f.text_area :body %>
  <div class = "label">
    <%= f.submit 'Create Book' %>
  </div>

  <% end %>

  <h2>Users</h2>

  <tabel>
    <thead>
      <tr>
        <th>image</th>
        <th>mame</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </tabel>

</main>