<main>
  <h2>User info</h2>
    <div>
       <%= image_tag @user.get_image(100, 100) %>
       <tabel>
         <tbody>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
         </tbody>
       </tabel>
      <%= link_to edit_user_path(@user) do %>
      <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>

  <h2>New book</h2>
  <%= form_with model: @book_new do |f| %>
  <div class = "label">
    <%= f.label :title %>
  </div>
  <%= f.text_field :title %>
  <div class = "label">
    <%= f.label :body %>
  </div>
  <%= f.text_area :body %>
  <div class = "label">
    <%= f.submit 'Create Book' %>
  </div>
  <% end %>

  <h2>Book detail</h2>
  <tebel>
    <th colspan="5"></th>
    <tbody>
      <tr>
        <td><%= image_tag @book.user.get_image(100, 100) %></td>
        <td><%= link_to @book.title, user_path(@book.id) %></td>
        <td><%= link_to @book.body, book_path(@book.id) %></td>
        <tb><%= link_to "Edit", edit_book_path(@book.id) %></tb>
        <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
        <tb></tb>
      </tr>
    </tbody>
  </tebel>

</main>